# claude
.claude/
CLAUDE.md

#files
sample_forms/*.png
demo/live-preview/*.png
sample_forms/filled/
frontend/dist/

# packages and venv
.env
.venv/
supabase/
*.json
node_modules/

# artifacts and cache
__pycache__/
*.pyc
.DS_Store
.pytest_cache/